*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  padding: 25px 0px;
  justify-content: center;
  height: 100px;
  background-color: rgb(255, 237, 230);
  box-shadow: 2px 2px 5px rgba(240, 219, 219);
}

.contendor-menú-principal {
  display: flex;
  width: 100%;
  max-width: 1100px;
}

.menú-principal {
  display: flex;
  justify-content: flex-end;
}

.lista-menú-principal {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-menú-principal {
  display: list-item;
  margin: 0 10;
  padding: 10px;
}

.botón-contacto {
  display:flex;
  background-color: rgb(14, 93, 88);
  align-items: center;
  justify-content: center;
  color: rgb(14, 93, 88);
  border-radius: 50px;
  padding: 0 25px;
  line-height: 2px
  
}

a {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.sección-presentación {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px 50px 150px;
}

.Presentación {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
}

.texto-presentación {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.bienvenida {
  display: block;
  margin-top: 0px;
  margin-bottom: 5px;
  color: black;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  box-sizing: border-box;
}

.nombre {
  display: block;
  margin-top: 0px;
  margin-bottom: 5px;
  color: rgb(14, 93, 88);
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  box-sizing: border-box;
}

.descripción {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  color: black;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  box-sizing: border-box;
}

.botón-proyectos {
  font-family: "Raleway", sans-serif;
  font-weight: 15px;
  background-color: rgba(14, 93, 88);
  color: rgb(255, 237, 230);
  padding: 15px 40px;
  width: 10%;
  height: 15px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.nav-link.selected,
.button {
  transition: 0.2s;
}

.imagen_presentación {
  display: block;
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
  overflow: clip;
  overflow-clip-margin: content-box;
}

.conocimientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 110px 40px 130px;
  background-color: rgb(255, 237, 230);
  box-sizing: border-box;
}

.descripción-conocimientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.título-conocimientos {
  display: block;
  text-align: center;
  color: rgb(14, 93, 88);
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}

.frase-conocimientos {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  max-width: 500px;
  box-sizing: border-box;
}

.contenedor-herramientas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0 200px;
  margin-top: 30px;
}

.tarjeta-herramienta {
  width: 250px;
  height: 250px;
  border: 1px solid rgb(239, 207, 146);
  border-radius: 10px;
  margin: 10px;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.icono-herramienta{
  display: block;
  font-size: 6em;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.2s;
}

.imagen_proyecto{
  width: 90%;
  height: 60%;
  overflow-clip-margin: content-box;
  padding-top: 20px;
  padding-left: 20px;
}

.nombre-herramienta{
  margin-top: 20px;
  font-size: 1em;
}

.sección-frase {
  display: flex;
  padding: 150px, 50px, 150px;
  height: 250px;
  background-color: rgb(14, 93, 88);
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.contenido-frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
}

.frase {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(255, 237, 230);
  font-size: 1.2rem;
  max-width: 800px;
}

.sección-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 110px 40px 110px;
  background-color: rgb(255, 255, 255);
}

.título-proyectos {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.breve-descripción-proyectos {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contenedor-proyectos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0 200px;
  margin-top: 30px;
}

.tarjeta-proyecto{
  width: 250px;
  height: 250px;
  border: 1px solid rgb(239, 207, 146);
  border-radius: 10px;
  margin: 10px;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  transition: 0.2s
}

.nombre-proyecto{
  margin-top: 30px;
  font: 1.5rem;
}

.sección-contacto{
  background-color: rgb(255, 237, 230);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 220px;
  align-items: center;
  justify-content: space-around;
}

.contenedor-contacto {
  max-width: 1100px;
  width: 100%;
  background-color: rgb(254, 254, 254);
  display: flex;
  padding: 80px 80px;
  border-radius: 15px;
  border: 1px solid rgb(240, 219, 219);
}

.datos-de-contacto {
  display: block;
}

.redes {
  padding-right: 10px;
  width: 90%;
}

.sección-escribime{
  padding-left: 20px;
  width: 50%;
}

.título-contacto {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1empx;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.descripción-contacto {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.lista-redes{
  flex-wrap: wrap;
}

.icono-contacto{
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.título-escribime{
  font-size: 1empx;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
  margin-left: 100px;
}

label{
  display:flex;
  margin-top: 10px;  
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.input-nombre input{
  display: block;
  border-radius: 10px;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1em ;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.input-apellido{
  display: block;
  border-radius: 10px;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1em ;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.input-mail{
  display: block;
  border-radius: 10px;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1em ;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.input-mensaje{
  display: block;
  border-radius: 10px;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1em ;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.2s;
}


footer {
  display: flex;
  padding: 50px 50px 50px;
  background-color: rgb(14, 93, 88);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(246, 246, 246);
  box-sizing: border-box;
}

.nav-footer {
}

.menú-footer {
  display: flex;
  padding: 0;
  margin-bottom: 10px;
}

li {
  display: list-item;
  margin: 0 10px;
  line-height: 1.5;
  list-style: none;
}

.lista-redes-footer{
  display: flex;
  flex-wrap: wrap;
}
.icono-footer{
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.frase-cierre{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

@media ( max-width: 650){
  .sección-contacto
  width: 50%;
}
@media (max-width: px) {
  .contenedor-contacto {
    flex-direction: column;
    padding: 0;
  }
}

@media (max-width: 650px) {
    .contenedor-contacto {
        flex-direction: column;
    }
    .redes, .contenedor-escribime{
        width: 50%;
      }
      .contenedor-contacto{
        width: 50%;
      }
}

@media (max-width: 650px) {
  .hover {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
}

.contenedor-herramientas :hover {
  border-color: 1px solid rgb(247, 227, 227);
  transition-property: border;
  background-color: rgb(247, 227, 227);
  transition-duration: 2s;
}

.contenedor-proyectos :hover {
  border-color: 1px solid rgb(247, 227, 227);
  transition-property: border;
  background-color: rgb(247, 227, 227);
  transition-duration: 2s;
}

.botón-proyectos :hover {
  transition-property: border;
  background-color: rgb(58, 116, 112);
  transition-duration: 2s;
}