body{
    margin: 0;
}

header {
    height: 100px;
    background-color: rgb(246, 246, 246);
    box-shadow: 2px 2px 5px rgba(240, 219, 219) ;
}

nav {
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

    ul{
        display: flex;
        list-style: none;
        width: 35%;
        justify-content: space-around;
    }

    li{
        padding: 10px;
    }

    a{
        font-family:'Raleway', sans-serif;
        font-weight: 800;
        text-decoration: none;
        color: #000000b5;
    }